*{
   
box-sizing: border-box;
}

body{
   background-color: rgb(227, 232, 238);
   border: 5px solid rgb(238, 232, 232);
   padding-top: 0%;
   padding-bottom: 0%;
   margin: 0%;
   height: 100%;
   margin-bottom: 0%;
  }

 #tituloh1{ 
    font-family:'Great Vibes', cursive;
    font-size: 300%;
    color:white;
    background-color: rgb(68, 68, 172) ;
    border: 5px solid rgb(2, 5, 107);
    text-align: center;
     max-width:100%;
    padding-left: 0%;
    padding-right: 0%; 
    padding-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
   margin-top: 0%;  
 }

#tituloh2{
    color:white;
    background-color: rgb(78, 78, 186) ;
    border: 1px solid rgb(2, 5, 107);
    text-align: center;
    max-width:100%;
    float:center;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%; 
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2px;
    margin-bottom: 1%;
    border-radius: 5%;
     
}
#tituloh3{
  border: 1px solid grey ;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 0%;
  border-radius: 3px;
  
}

#datospersonales{
  
  font-size: medium;
  margin-top:3%;
  box-sizing: border-box;

  
}

#seccion1 {
 background-color: rgb(244, 240, 240);
 border:5px solid rgb(214, 23, 23);
 width: 35%;
 height:auto;
 margin-left: 3%;
 padding-right: 3%;
 padding-left: 3%; 
 padding-bottom: 0%; 
 position: absolute; 
 border-radius: 3%;
}


#foto_perfil {
  border: 2px solid rgb(0, 0, 0);
    border-radius: 3%;
    max-width: 15%;
    height: 10%;
    padding: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 42%;
    margin-right: 0%;
    margin-top: -18%;
   
     
  }

  
#videoface{
    width: 35%;
    height: 200px;
    margin-right: 0%;
    margin-left: 3%;
    margin-top: 0%;
    border-radius: 3%;
    margin-bottom: 0%;
    position:relative;
     

    
}
#seccion2 {
  background-color: rgb(244, 240, 240);
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 0%;
  float:left;
  padding-right: 3%;
  padding-left: 3%; 
  padding-bottom: 0%; 
 }

 #parrafoexpelaboral
 {
  font-size: small ; 
}

#seccion3{
  font-size: small;
  background-color: rgb(237, 230, 230);
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 5%;
  margin-bottom:0%;
  float:right ;
  
  
  
    
}


#linea_final
{
  color: rgb(36, 16, 150) ;
  
    
}
